.App {
  display: flex;
  flex-flow: row;
}

.list{
  list-style-type: none;
}

.detail{
  width: 80%;
  margin: 0px 20px 0px 20px;
}

.menu{
  width: 20%;
}

th, td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

a:hover{
  color:steelblue;
}

a {color:black;} 